@import "remixicon/fonts/remixicon.css";
@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.tracking-more-wider {
  letter-spacing: 0.2em;
}

@layer base {
  body {
    font-family: 'Work Sans', system-ui, sans-serif;
  }
}

:root {
  /* SUCCESS */
  --ion-color-success: #bfed95;
  --ion-color-success-rgb: 191, 237, 149;
  --ion-color-success-contrast: #0f172a;
  --ion-color-success-contrast-rgb: 15, 23, 42;
  --ion-color-success-shade: #a8d87f;
  --ion-color-success-tint: #caf2a8;

  /* PRIMARY */
  --ion-color-primary: #5a45fe;
  --ion-color-primary-rgb: 90, 69, 254;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4f3de0;
  --ion-color-primary-tint: #6f5cff;

  /* WHITE */
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #ffffff; /* dark text/icons on white */
  --ion-color-white-contrast-rgb: 17, 24, 39;
  --ion-color-white-shade: #e6e6e6; /* slightly darker for pressed/hover state */
  --ion-color-white-tint: #ffffff;  /* slightly lighter for tint, optional */

}

ion-button::part(native),
ion-button::part(native):active,
ion-button::part(native):focus,
ion-button::part(native):focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

ion-button {
  --box-shadow: none;
}

ion-button::part(native) {
  box-shadow: none !important;
  outline: none !important;
}


.background-white {
  --ion-background-color: #ffffff;
  background: #ffffff;

  /* FIX: text + borders */
  color: #111827; /* gray-900 */
}

/* Force light tab bar */
/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ion-item {
  --background: #ffffff;
  --color: #111827;
}

ion-list {
  --background: transparent;
}

/* Tab bar active state */
.tab-selected ion-label {
  color: #000000 !important;
}
